%html
  %head
    = stylesheet_tag 'main'
  %body
    %h1 Rage - Goddess, sing the rage of Peleus' son Achilles
    %pre
      murderous, doomed, that cost the Acheans countless losses
      hurling down the House of Death that so many sturdy souls
      great fighters' souls, but made their bodies carrion
      feasts for the dogs and the birds
      and the will of Zeus was moving towards its end.
